.add {
  border: 2px solid $color-main-black;
  padding: 1rem 2rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0 4rem 0;

  &:active {
    transform: scale(0.97);
  }
}

.manage {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.2s;

  &__personal {
    border: 1px solid $color-tertiary-dark;
    background-color: $color-tertiary-dark;
    color: white;
    &:active {
      transform: scale(0.97);
    }
  }

  &__professional {
    border: 1px solid $color-primary-dark;
    background-color: $color-primary-dark;
    color: white;
    &:active {
      transform: scale(0.97);
    }
  }

  &__study {
    border: 1px solid $color-secondary-light;
    background-color: $color-secondary-light;
    color: white;
    &:active {
      transform: scale(0.97);
    }
  }
}

.update {
  padding: 1rem 2rem;
  background-color: $color-primary-dark;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;

  &:hover {
    background-color: #21cf95;
  }
}

.cancel {
  padding: 1rem 2rem;

  background-color: crimson;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(255, 0, 51);
  }
}
