.title {
  margin: 3rem 0 5rem 0;
  text-align: center;

  &__primary {
    font-size: 6rem;
    line-height: 1.6;

    #to {
      color: $color-tertiary-dark;
    }

    #do {
      color: $color-primary-dark;
    }

    #list {
      color: $color-secondary-light;
    }
  }

  &__secondary {
    font-size: 2rem;
    color: $color-main-black;
    font-weight: 400;
  }
}

.input-container {
  margin: 0 auto;
  text-align: center;

  label {
    margin-right: 1rem;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: bold;
  }

  .label-date,
  .category__select {
    margin-right: 2.53rem;
  }

  input,
  select {
    padding: 0.9rem;
    font-family: inherit;
    border: 1.5px solid $color-grey;
    width: 40rem;
    margin-bottom: 1.5rem;
    outline: none;
  }
}

.list-container {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  max-width: 1270px;
  margin: 0 auto 8rem auto;
  @include respond(tablet-port) {
    flex-wrap: wrap;
  }

  &__title {
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 2rem;
  }

  &__list {
    max-width: 500px;
    margin-bottom: 4rem;
  }

  .personal {
    .list-container__title {
      color: $color-tertiary-dark;
    }
  }

  .professional {
    .list-container__title {
      color: $color-primary-dark;
    }
  }

  .academic {
    .list-container__title {
      color: $color-secondary-light;
    }
  }

  &__list {
    li {
      font-size: 1.3rem;
      padding: 2rem 0 0.5rem 1rem;
      border-bottom: 1px solid rgba(128, 128, 128, 0.274);
      position: relative;
    }

    width: 90%;
  }

  .item-date {
    font-weight: bold;
  }
}

.todo-deadline {
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  top: 15%;
  right: 0;
}

// CONTROL LISTS DISPLAY

.personal,
.professional,
.academic {
  display: none;
}
